body {
  margin: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#container {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: whitesmoke;
  display: block;
}

path.highlighted {
  fill: #56ffe3;
}

.transparent {
  opacity: 0.6;
}
