body {
  margin: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

path.highlighted {
  fill: #e33ecc;
}

.transparent {
  opacity: 0.6;
}